<h1>Reviews</h1>

<% @reviews.each do |review| %>

<div class="card" style="width: 30rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= review.content %></h5>
    <p class="card-text"><%= review.rating %></p>
  </div>
</div>

<% end %>
